*{
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}
#campoSalario{
    width: 300px;
    margin: auto;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;      
}
#campoDespesa{
    width: 300px;
    margin: auto;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
#lista_despesas{
    width: 300px;
    margin: auto;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
h1, h3{
    text-align: center;
}
#resumo{
    width: 300px;
    margin: auto;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
#btn_limpar{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    position: center;
    display: flex;
    justify-content: center;

}